[submodule "intpath/invoice_by_journal_users"]
	path = intpath/invoice_by_journal_users
	url = git@github.com:intpath/invoice_by_journal_users.git
	branch = 13

[submodule "intpath/location_limitation"]
	path = intpath/location_limitation
	url = git@github.com:intpath/location_limitation.git
	branch = master

[submodule "intpath/ip_user_restrict_product_access"]
	path = intpath/ip_user_restrict_product_access
	url = git@github.com:intpath/ip_user_restrict_product_access.git
	branch = master

[submodule "intpath/bi_customer_limit"]
	path = intpath/bi_customer_limit
	url = git@github.com:intpath/bi_customer_limit.git
	branch = master

[submodule "intpath/machine_repair_equipment_integration"]
	path = intpath/machine_repair_equipment_integration
	url = git@github.com:intpath/machine_repair_equipment_integration.git
	branch = master

[submodule "intpath/machine_repair_management"]
	path = intpath/machine_repair_management
	url = git@github.com:intpath/machine_repair_management.git
	branch = master

[submodule "intpath/stock_limitation"]
	path = intpath/stock_limitation
	url = git@github.com:intpath/stock_limitation.git
	branch = 14
