[submodule "intpath/invoice_by_journal_users"]
	path = intpath/invoice_by_journal_users
	url = git@github.com:intpath/invoice_by_journal_users.git
	branch = 13

[submodule "intpath/ip_user_restrict_product_access"]
	path = intpath/ip_user_restrict_product_access
	url = git@github.com:intpath/ip_user_restrict_product_access.git
	branch = master

[submodule "intpath/bi_customer_limit"]
	path = intpath/bi_customer_limit
	url = git@github.com:intpath/bi_customer_limit.git
	branch = master

[submodule "intpath/machine_repair_equipment_integration"]
	path = intpath/machine_repair_equipment_integration
	url = git@github.com:intpath/machine_repair_equipment_integration.git
	branch = master

[submodule "intpath/machine_repair_management"]
	path = intpath/machine_repair_management
	url = git@github.com:intpath/machine_repair_management.git
	branch = master

[submodule "intpath/stock_limitation"]
	path = intpath/stock_limitation
	url = git@github.com:intpath/stock_limitation.git
	branch = 14

[submodule "ahmadn91/sales_approvals_workflow"]
	path = ahmadn91/sales_approvals_workflow
	url = git@github.com:ahmadn91/sales_approvals_workflow.git
	branch = master

[submodule "intpath/print_journal_entries"]
	path = intpath/print_journal_entries
	url = git@github.com:intpath/print_journal_entries.git
	branch = master

[submodule "intpath/asco_sales"]
	path = intpath/asco_sales
	url = git@github.com:intpath/asco_sales.git
	branch = master

[submodule "intpath/asco_crm"]
	path = intpath/asco_crm
	url = git@github.com:intpath/asco_crm.git
	branch = master

[submodule "intpath/return_approvals"]
	path = intpath/return_approvals
	url = git@github.com:intpath/return_approvals.git
	branch = master

[submodule "intpath/salesperson_limit"]
	path = intpath/salesperson_limit
	url = git@github.com:intpath/salesperson_limit.git
	branch = master

[submodule "intpath/product_analytic"]
	path = intpath/product_analytic
	url = git@github.com:intpath/product_analytic.git
	branch = main

[submodule "intpath/asco_ext"]
	path = intpath/asco_ext
	url = git@github.com:intpath/asco_ext.git
	branch = master

[submodule "intpath/product_bundle_pack"]
	path = intpath/product_bundle_pack
	url = git@github.com:intpath/product_bundle_pack.git
	branch = 14

[submodule "Integrated-Path/asco_maintainence"]
	path = Integrated-Path/asco_maintainence
	url = git@github.com:Integrated-Path/asco_maintainence.git
	branch = master

[submodule "Integrated-Path/employee_arabic_name"]
	path = Integrated-Path/employee_arabic_name
	url = git@github.com:Integrated-Path/employee_arabic_name.git
	branch = master

[submodule "Integrated-Path/asco_recruitment"]
	path = Integrated-Path/asco_recruitment
	url = git@github.com:Integrated-Path/asco_recruitment.git
	branch = 14

[submodule "Integrated-Path/bi_sale_stock_restrict"]
	path = Integrated-Path/bi_sale_stock_restrict
	url = git@github.com:Integrated-Path/bi_sale_stock_restrict.git
	branch = master

[submodule "Integrated-Path/lab_lease"]
	path = Integrated-Path/lab_lease
	url = git@github.com:Integrated-Path/lab_lease.git
	branch = 15/asco

[submodule "Integrated-Path/asco_inventory"]
	path = Integrated-Path/asco_inventory
	url = git@github.com:Integrated-Path/asco_inventory.git
	branch = master

[submodule "intpath/report_stock_inventory"]
	path = intpath/report_stock_inventory
	url = git@github.com:intpath/report_stock_inventory.git
	branch = master

[submodule "Integrated-Path/sh_leave_attachment"]
	path = Integrated-Path/sh_leave_attachment
	url = git@github.com:Integrated-Path/sh_leave_attachment.git
	branch = master

[submodule "Integrated-Path/lab_lease"]
	path = Integrated-Path/lab_lease
	url = git@github.com:Integrated-Path/lab_lease.git
	branch = 15.0

[submodule "Integrated-Path/sale_discount_total"]
	path = Integrated-Path/sale_discount_total
	url = git@github.com:Integrated-Path/sale_discount_total.git
	branch = 14.0

[submodule "Integrated-Path/sales_approvals_workflow-master"]
	path = Integrated-Path/sales_approvals_workflow-master
	url = git@github.com:Integrated-Path/sales_approvals_workflow-master.git
	branch = master

[submodule "Integrated-Path/approval_module"]
	path = Integrated-Path/approval_module
	url = git@github.com:Integrated-Path/approval_module.git
	branch = master

[submodule "Integrated-Path/od_asco_extend"]
	path = Integrated-Path/od_asco_extend
	url = git@github.com:Integrated-Path/od_asco_extend.git
	branch = master

[submodule "Integrated-Path/custom_report_layout"]
	path = Integrated-Path/custom_report_layout
	url = git@github.com:Integrated-Path/custom_report_layout.git
	branch = master

[submodule "Integrated-Path/hr_payroll_account_multi_currency_journal"]
	path = Integrated-Path/hr_payroll_account_multi_currency_journal
	url = git@github.com:Integrated-Path/hr_payroll_account_multi_currency_journal.git
	branch = 14

[submodule "Integrated-Path/partner_category"]
	path = Integrated-Path/partner_category
	url = git@github.com:Integrated-Path/partner_category.git
	branch = master

[submodule "Integrated-Path/asco_access_rights"]
	path = Integrated-Path/asco_access_rights
	url = git@github.com:Integrated-Path/asco_access_rights.git
	branch = master

[submodule "Integrated-Path/asco_subscription_customization"]
	path = Integrated-Path/asco_subscription_customization
	url = git@github.com:Integrated-Path/asco_subscription_customization.git
	branch = main

[submodule "Integrated-Path/od_asco_extend_document"]
	path = Integrated-Path/od_asco_extend_document
	url = git@github.com:Integrated-Path/od_asco_extend_document.git
	branch = master
